.userHomeMain {
  width: 100%;
  background-color: var(--White-eee--);
  .MessageMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    .Message {
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      width: 70%;
      height: 70%;
      border-radius: 30px;
      background-color: white;
      display: flex;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      .MessageLeft {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .imageBox {
          width: 75%;
          height: 75%;
          border-radius: 30px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
      }
      .MessageRight {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /deep/ .select {
          width: 100%;
          text-align: left;
          margin-bottom: 10px;
          .tipsBox {
            width: 100%;
            color: rgb(105, 105, 105);
            text-align: left;
            transition: all 0.3s ease-in-out;
            .tipsTitle2 {
              margin-top: 2px;
              margin-bottom: 2px;
              font-size: 1vw;
              font-weight: 800;
              color: black;
              transition: all 0.3s ease-in-out;
              width: 300px;
            }
            .tipsTitle {
              font-size: 1vw;
              color: black;
              .tipshelp {
                color: rgb(105, 105, 105);
                font-size: 1vw;
              }
            }
          }
          .sumbitBox {
            text-align: left;
            margin-top: 3%;
            .createButton {
              padding: 20px 35px 18px 35px;
              font-size: 17px;
              border-radius: 15px;
              transition: all 0.3s ease-in-out;
              font-family: "Transformers_Movie";
            }
          }
        }
        .colseButton {
          margin-right: 10%;
        }
      }
    }
  }

  .userHomeMainBox {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .inf {
    width: 100%;
    height: 100%;
    overflow: auto;

    .content {
      width: 100%;
      height: 100%;
      color: var(--Dark--);
      background-color: var(--White-eee--);
      display: flex;
      .contentLeft {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
          .userInf {
            margin-top: 25px;
            background-color: var(--White--);
            border-radius: 50px;
            width: 95%;
            height: 280px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: flex-start;
            overflow: hidden;
            padding: 0;
            transition: all 0.3s ease-in-out;
            &:hover {
              box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
                rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
              transition: all 0.3s ease-in-out;
            }
            .userInfTop {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 20px;
              .userAvatarBox {
                margin-left: 25px;
                margin-right: 25px;
                min-width: 95px;
                min-height: 95px;
                overflow: hidden;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(230, 230, 230, 1);
                img {
                  object-fit: cover;
                  width: 85px;
                  height: 85px;
                }
              }
              .userName {
                font-weight: 800;
                font-size: 25px;
              }
            }
            .userInfBottom {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              .UserBalance {
                margin-right: 35px;
                font-size: 1vw;
              }
            }
          }
          .userPet {
            @extend .userInf;
            width: 1000px;
          }
          .TopBackground {
            position: relative;
            width: 100%;
            height: 30%;
            .userName {
              position: absolute;
              width: 726px;
              height: 180px;
              left: 113px;
              top: 185px;
              color: rgb(255, 255, 255);
              font-family: Inter;
              font-size: 5vw;
              font-weight: 800;
              line-height: 90px;
              letter-spacing: -2px;
              text-align: left;
            }
          }
          .BurBox {
            @extend .NFTListBox;
            width: 95%;
            height: 50vh;
            overflow: hidden;
            border-radius: 35px;
            margin-top: 3%;
            padding: 0;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
              rgba(17, 17, 26, 0.1) 0px 0px 8px;
          }
        
      }
      .contentRight {
        flex: 1;
        position: relative;
        .NFTListBox {
          position: absolute;
          transform: translate(-50%);
          left: 50%;
          top: 3%;
          width: 86%;
          background-color: var(--White--);
          border-radius: 50px;
          padding: 5%;
          .NFTList {
            height: 100%;
            /deep/ .el-collapse {
              border: none;
              .el-collapse-item__header {
                background-color: var(--White--) !important;
                color: var(--Dark--);
              }
              .el-collapse-item__content {
                background-color: var(--White--);
              }
            }
            .collapseInnerBox {
              .NFTInf {
                margin: 1%;
                background-color: var(--White--);
                border-radius: 50px;
                width: 270px;
                height: 355px;
                display: inline-block;
                overflow: hidden;
                transition: all 0.7s ease-in-out;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
                  rgba(17, 17, 26, 0.1) 0px 0px 8px;
                .NFTImage {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  transition: all 0.6s;
                  cursor: pointer;
                  background-color: white;

                  &:hover {
                    transition: all 0.6s;
                  }
                }
                .Inf {
                  width: 100%;
                  height: 120px;
                  background-color: var(--Dark--);
                  .InfInnerBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .Inf-NFTNameBox {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      .NFTName {
                        color: var(--White--);
                        font-weight: 800;
                        text-align: left;
                        font-size: 25px;
                      }
                    }
                  }

                  .InfTop {
                    width: 90%;

                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .TokenID {
                      display: flex;
                      margin-bottom: 10px;
                      justify-content: center;align-items: center;
                      width: 100px;
                      padding: 4px 0px 4px 0px;
                      border-radius: 10px;
                      transition: all 0.3s ease-in-out;
                      background-color: rgba(85, 201, 96, 0.12);
                      color: #55c960;
                    }
                    .priceBox {
                      color: var(--White--);
                      .price {
                        font-size: 25px;
                      }
                    }
                  }
                  .InfBottom {
                    width: 100%;

                    font-size: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    
                    div {
                      padding-top: 2.5%;
                      padding-bottom: 2.5%;
                      width: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      cursor: pointer;
                    }
                  }
                }
              }

              .NFTInf:hover {
                transition: all 0.6s ease-in-out;
                transform: translateY(-5px) perspective(1000px);
              }
              .NFTInf:hover > * {
                transform: none;
              }

              .NFTInf3D {
                margin: 1%;
                background-color: white;
                border-radius: 25px;
                width: 280px;
                height: 180px;
                display: inline-block;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
                  rgba(17, 17, 26, 0.1) 0px 0px 8px;
                .Inf3D {
                  display: flex;
                  height: 100%;
                  width: 100%;
                  .Inf3DLeft {
                    flex: 1;
                    height: 100%;
  
                    display: flex;
                    background-color: #11243d;
                    button {
                      font-size: 15px;
                    }
                    flex-direction: column;
                    .Inf3DLeftTop {
                      width: 100%;
                      height: 50%;

                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                    .Inf3DLeftBottom {
                      width: 100%;
                      height: 50%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                  }
                  .Inf3DRight {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    flex: 2;
                    height: 100%;
                    width: 50%;
                    .priceBox {
                      width: 100%;
                      color: black;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      .price {
                        font-size: 1.8vw;
                      }
                    }
                    .TokenID {
                      text-align: center;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 2px 0px 2px 0px;
                      border-radius: 10px;
                      transition: all 0.3s ease-in-out;
                      background-color: rgba(85, 201, 96, 0.12);
                      color: #55c960;
                      width: 200px;
                    }
                  }
                }
              }
            }

            .ADDNFT {
              margin-left: 1%;
              cursor: pointer;
              div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                padding: 2% 10% 2% 10%;
              }
              i {
                font-weight: 800;
                color: var(--Dark--);
              }
            }
          }
          .NFTMenu {
            margin-right: 3%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;
          }
        }
      }
    }
  }
}