.mintHomeBox {
  font-family: 'PF';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .mintHomeLeft {
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--HFTheme--);
    .AvatarBox {
      width: 100%;
      height: 270px;
      display: flex;
      .AvatarBorder {
        flex: 1;
        border: 2px solid white;
        width: 25vw;
        height: 25vw;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

        img {
          object-fit: contain;
          min-width: 100%;
          height: 100%;
          border-radius: 20px;
          transition: all 0.6s;

          &:hover {
            transform: scale(1.1);
            transition: all 0.6s;
          }
        }
      }
    }
    .mintHome_backHome {
      width: 70%;
      margin-top: 5px;
       button {
        background-color: var(--FG--);
        color: var(--Dark--);
        font-size: 20px;
        font-weight: 800;
        :hover {
          background-color: var(--mintHomeHover--);
        }
      }
    }

    .mintHomeMainBox {
      height: 647px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;

      .mintHome_title {
        width: 100%;
        font-size: 48px;
        display: flex;
        justify-self: flex-start;
        align-items: center;
        color: var(--Dark--);
        margin-bottom: 30px;
        font-weight: 1000;

        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 300px;

          .logobox {
            font-family: 'Transformers_Movie';
            display: flex;
            margin-right: 20px;
            height: 100%;
            transition: $globalTransition;

            .logo {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              position: relative;
              width: 100%;
              color: var(--Dark--);
              transition: $globalTransition;
            }
          }

        }
      }

      .mintHome_router {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 328px;

        .tomintNFTBox {
          border-radius: 12px;
          width: 80%;
          height: 140px;
          background-color: var(--FG--);
          margin-bottom: 5%;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          transition: $globalTransition;
          cursor: pointer;

          &:hover {
            transform: translateY(-7px);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: $globalTransition;
            
          }

          .tomintNFT {
            display: flex;
            height: 100%;
            width: 100%;

            .innerBox {
              flex: 4;
              width: 100%;
              // background-color: red;
              height: 100%;
              display: flex;
              justify-content: center;

              .inner {
                color: var(--Dark--);
                padding: 24px 32px 24px 24px;
                width: 100%;
                gap: 16px;
                display: flex;
                flex-direction: column;

                :first-child {
                  height: 50%;
                  font-size: 20px;
                  font-weight: 800;

                  svg {
                    padding-right: 10px;

                    .icon {
                      fill: var(--Dark--);
                    }
                  }
                }

                :last-child {
                  height: 50%;
                  font-weight: 600;
                }
              }

            }

            .linkto {
              flex: 1;
              font-size: 23px;
              height: 100%;
              color: var(--Dark--);
              display: flex;
              font-weight: 1000;
              justify-content: center;
              align-items: center;
            }
          }

          .tomintNFT3D {
            @extend .tomintNFT;
          }

        }

        .tomintNFT3DBox {
          @extend .tomintNFTBox;
        }
      }
    }

  }

  .mintHomeRight {
    flex: 1;
    height: 100vh;
    width: 50;
  }
}

a {
  text-decoration: none;
  color: black;
}