/* 全局css */
@font-face {
    font-family: "TESLA";
    src: url(@/font/TESLA.ttf);
}

@font-face {
    font-family: "Transformers_Movie";
    src: url(@/font/Transformers_Movie.ttf);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(@/font/Gilroy-Medium.ttf);
}

@font-face {
    font-family: "PF";
    src: url(@/font/PF_J.ttf);
}

.Main {
    height: 100vh;
    width: 100%;
}

body,
html {
    width: 100%;
    height: 100%;
    user-select: none;
    font-family: "PF";
    background-color: var(--White-eee--);

}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}