
 .el-aside:last-child {
    max-width: auto;
    min-width: 25%;
    padding-right: 1vw;
    background: var(--White-eee--);
}

.el-tabs__item.is-active {
 
    border: 3px solid var(--Selected-button1-blue-black) !important;
    animation: colorChange 3s linear 1s infinite alternate;
    animation: ChangeHomeBackground 3s linear 1s infinite alternate;
}

@keyframes ChangeHomeBackground {
    0% {
        transition: all 1s ease-in-out;
        border: 3px solid transparent !important;
    }

    100% {
        transition: all 1s ease-in-out;
        background-color: var(re--Selected-button1-blue-black);
        -webkit-box-reflect: below 1px linera-gradient(transparent, rgba(0, 0, 0, 0.3));
    }
}


.el-header {
    background-color: var(--White--);
    color: #333;
    height: 24px !important;
    height: 0px !important;
    display: flex;
    align-items: center;
}

.el-aside {
    background-color: var(--White--);
    color: #333;
    height: 100% !important;
    transition: all .3s ease-in-out;
}

.el-main {
    background-color: var(--White-eee--);
    color: #333;
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    transition: all .3s ease-in-out;
    // font-family: "Transformers_Movie";
}

.el-container {
    height: 100%;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
}

.UserImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
    display: flexbox;
    width: 70px;
}

.el-row {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.el-col {
    border-radius: 4px;
}

.bg-purple {
    background-color: var(--White--);
    transition: all .3s ease-in-out;

    &:hover {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        transition: all .3s ease-in-out;
    }
}

.grid-content {
    border-radius: 40px;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row-bg {
    padding: 3.5% 0;
}

// .HeaderLogo {
//     color: var(--el-color-logo);
//     font-size: 18px;
//     text-align: center;
//     transform: translate(-22%, 14%);
// }

.BalanceEchart {
    width: 100%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userInf {
    width: 100%;
    padding-top: 3.5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WaitLogin{
    @extend .userInf
}

