.MainWindow {
  width: 100%;
  display: flex;
  .leftMain {
    flex: 3;
    flex-direction: column;
    display: flex;
    align-items: center;
    
    .ad {
      border: $globalBorder;
      margin-top: $globalMargin;
      width: 95%;
      height: 300px;
      overflow: hidden;
      border-radius: $globalBorderRadius;
      transition: $globalTransitionUI;
      box-shadow: $globalboxshadowfrom;

      &:hover {
        box-shadow: $globalboxshadowto;
        transition: $globalTransitionUI;
      }
    }

    .MarketMain {
      width: 100%;
      
      .SellIndex {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;


        /deep/ .SellIndexInner {
          display: flex;
          justify-content: center;
          align-items: center;

          .el-tabs__nav-wrap::after {
            display: none;
          }

          .el-tabs__nav {
            height: 100%;
          }

          .el-tabs {
            border-radius: 20px;
            left: 0px;
            top: 0px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            text-align: center;
          }

          /* 去除灰色横条 */
          .el-tabs__nav-wrap::after {
            position: static !important;
          }

          /* 设置滑块颜色 */
          .el-tabs__active-bar {
            background-color: var(--Dark--);
            height: 100%;
            border: 1px solid white;
          }

          /* 设置滑块停止位置 */
          .el-tabs__active-bar.is-top {

            width: 104px !important;
            border-radius: 17px;
            top: 0px !important;
            left: -15px !important;
            position: absolute !important;
            z-index: 1;
          }

          /* 设置当前选中样式 */
          .el-tabs__item.is-active {
            background-color: transparent;
            color: var(--White--) !important;
            z-index: 2;
          }

          /* 设置未被选中样式 */
          .el-tabs__item {
            padding: 0px 20px !important;
            width: auto;
            font-size: 18px;
            font-weight: 800;
            box-sizing: border-box;
            display: inline-block;
            position: relative !important;
            color: var(--Dark--) !important;
            z-index: 2;
          }

          .selectBox-Active {
            border: none;
            font-size: 1vw;
            border-radius: 20px;
            transition: all 0.3s ease-in-out;
            font-weight: 800;
            border: none;
            background-color: rgb(246, 246, 246);

            &:hover {
              background-color: rgb(246, 246, 246);
              transition: all 0.3s ease-in-out;
              color: white;
            }
          }

          .selectBox-NOActive {
            @extend .selectBox-Active;
          }

          .el-tabs__content {
            height: 100%;
          }
        }
      }

      /deep/ .marketShopMain {
        transition: $globalTransitionUI;
        box-shadow: $globalboxshadowfrom;
        border: $globalBorder;
        &:hover {
          box-shadow: $globalboxshadowto;
          transition: $globalTransitionUI;
        }

        display: flex;
        margin-top: $globalMargin;
        margin-bottom: $globalMargin;
        width: 90%;
        height: 96%;
        overflow: hidden;
        border-radius: $globalBorderRadius;
        background-color: var(--White--);
        padding: 2% 2% 2% 2%;

        .el-table::before{
          display: none;
          
        } 
        .el-table__fixed-right::before,
        .el-table__fixed::before {
          display: none;
        }

        .el-table,
        .el-table__expanded-cell {
          background-color: var(--White--);
          transition: all 0.3s ease-in-out;
        }
        .el-table th.el-table__cell.is-leaf{
          border:none
        }
        /* 表格内背景颜色 */
        .el-table th,
        .el-table tr,
        .el-table td {
          background-color: transparent;
        }

        .el-skeleton__row {
          /* 设置骨架屏行样式 */
          height: 48px;
          margin-bottom: 10px;
          background-color: black;
 
        }

        .marketShopTableLeft {
          font-size: 1vw;
          color: var(--Dark--);
          flex: 1;

          td.el-table__cell {
            border: 0px solid white;
            text-align: center;
            border-bottom:$globalBorder;
          }
          .el-table__body tr:hover>td.el-table__cell{
            color: var(--Dark--);
            background-color: var(--tbbg--);
            cursor: pointer;
          }

          .el-table__body tr:hover>td.el-table__cell:first-child {
            border-radius: 20px 0 0 20px;
           
          }

          .el-table__body tr:hover>td.el-table__cell:last-child {
            border-radius: 0 20px 20px 0;
          }

          td {
            padding-top: 20px;
            padding-bottom: 20px;
           
          }

          .el-table__header {
            th {
              font-size: 15px;

              :nth-child(2) {
                font-size: 20px;
                text-align: left;
              }
            }
          }
          .collectionRow {
              display: flex;
              align-items: center;
              font-weight: 800;
              color: var(--Dark--);
              .collectionImageBorder {
                width: 65px;
                height: 65px;
                border-radius: 15px;
                overflow: hidden;
                .nftImage {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
        }
      }
    }
  }

  .rightMain {
    width: 50%;
    height: 100%;
    flex: 1;

    .balanceEchartBox {
      margin-top: $globalMargin;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}